<%= render "shared/second-header"%>

   <div class='category-results'>
     <h1>
       検索結果
     </h1>
   </div>

<div class='category-results-lists'>
  <% if @results[0] != nil %>
    <ul class='item-lists'>
     <% @results.each do |item| %>   
 
      <li class='list'>
        <%= link_to item_path(item.id), method: :get do %>
        <div class='item-img-content'>
           <%= image_tag item.image, class: "item-img" if item.image.attached? %> 
          
          <% if item.order.present? %>
           <div class='sold-out'>
            <span>Sold Out!!</span>
           </div>
          <% end %> 

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.product_name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.shipping_charge.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
       </li>
       <% end %>
      
  <% else %>
    <div class='category-results'>
       該当する商品はありません 
    </div>
  <% end %>
</div>

<%= link_to 'トップページへ戻る', root_path, class:"to-the-top" %>

   <%= link_to(memos_path, class: 'memo-btn') do %>
     <span class='memo-btn-text'>メモ</span>
   <% end %>
   
<%= render "shared/footer" %>
